a {
  text-decoration: none;
}

#about:target {
  display: block;
}

.content:target {
  z-index: 4;
}

/* Animation effects */

[data-aos="roll-down"].aos-animate {
  animation: roll-down 2s ease-in-out 1 forwards;
}

@keyframes roll-down {
  from {
    height: 0px;
  }
  to {
    height: auto;
  }
}
